source https://nuget.org/api/v2
framework >= net452

nuget LibGit2Sharp 0.24.0
nuget LibGit2Sharp.NativeBinaries 1.0.185
nuget CommandLineParser prerelease
nuget Octokit

group Build
  source https://nuget.org/api/v2
  
  nuget GitVersion.CommandLine prerelease
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Core redirects: force
  nuget FSharp.Data
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget xunit.core
  nuget xunit.runner.console
  nuget Shouldly